* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {text-decoration:none;}

a:active {text-decoration:underline;}

header h1 {
    text-indent: -10000px;
    height: 0px;
}

header img {
    width:95%;
    margin: 0 2.5% 0 2.5%;
}

header nav {
    border-top: 2px solid #48D1CC;
    border-bottom: 2px solid #48d1cc;
    font-family: bebas-neue,impact,sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    padding: 7px;
    margin: 0 auto 0 auto;
    width: 95%
}

header a {
    color: #7b7d81;
    text-decoration: none;
    margin-right: 5px;
}

header a:hover { color: #aaaaaa;}

header a + a {
    border-left: 1px solid #48D1CC;
    padding-left: 8px;   
}

body {
    font-size: 16px;
    line-height: 24px;
}

article {
    clear:both;
    padding: 0 10px 0 10px;
    width:80%;
    margin:0 auto 0 auto;
}

article h1 {
    font-family: raleway, ra, sans-serif;
    font-weight:300;
    font-size: 36px;
    margin-top: 20px;
    color:#383838;
}

article h2 {
    font-size: 24px;
    line-height: 30px;
    margin-top:10px;
    font-family: bebas-neue,impact,sans-serif;
    color:#e14f4f;
    font-weight:600;
}

p {
    margin: 12px 0 0 0;
    font-family: sans-serif;
    font-weight:200;
    color:#383838;
    line-height: 18px;
    padding-left:10px;
}

h3 + p {
    margin-top: 0px;   
}

article h3 {
    font-family: bebas-neue;
    font-weight:200;
    color:#48d1cc;
    padding-left:10px;
}

article p + h3   {
    padding-top: 5px; 
}
article div {
    float:left;
    margin-left:50px;    
}

article div h3 {
    margin-top:10px;
    font-family: bebas-neue,impact,sans-serif;
}

article div p {
    margin-top:3px;
    font-size:12px;
}

article h2 + ul {
    list-style-type:none;
    margin-left:15px;
    text-align:left;
}

article a {color:#48D1CC;}

article a:hover{color:#e14f4f;}

aside {
    clear:left;
    margin: 5px 24% 5px 24%;
    width: 50%;
}

aside img {width: 100%;}

#me {
    float:right;
    width: 50%;
}

#intro {
    float:left; 
    width:45%;
    margin-right:5%;
}

#me img {
    width:100%;
    margin: 12px 5% 0 0;
}

p + ul {
    list-style-type:square;
    margin: 5px 0 0 14%;
}

#alligator {
    float:left;
    margin: 100px 2.5% 100px 2.5%;
    width:10%
}

#clips {
    color:#48D1CC;
    margin: 0 0 0 0%;
    float:right;
    width:80%;
}

#clips h3 {
    font-family: bebas-neue,impact,sans-serif;
    margin:13px 0 0 0;
}

#clips ul {
    list-style-type:square;
}

section + h2 {
    clear:both;   
}

footer { 
    clear:both;
    font-size:10px;
    width:95%;
    margin:10px auto 0 auto;
    border-top: 1px dotted #aaaaaa;
    text-align:center;
}

footer nav {
    font-family: raleway, arial, sans-serif;
    text-transform: lowercase;
    width: 95%;
    margin: 0 auto 0 auto;
    text-align:center;
}

footer nav a {
    text-decoration:none;
    color:#575757;}

footer nav a:hover {color:#e14f4f;}

footer p {
    padding-left:10px;
    margin: 0 0 0 0;
    clear:both;
}

footer nav a:active {text-decoration:underline;}

footer div {
    margin: 0 auto 0 auto;
    text-align:center;
}

footer div img{height:20px;}

footer div img:hover {-webkit-transform: scale(1.1,1.1);}

@media screen and (max-width: 500px) {
    header {text-align:center;}
    header h1 {
        text-align:center; 
        float:none;
    }
    header nav {
        width:90%;
        margin-left: 5%;
        font-size:18px;
    }
    article {
        clear:both;
        font-size:20px;
        line-height:32px;
    }
    
    article div {
        float:none;
        margin-left:0;
        width:100%;
    }
    
    article h2  {font-size:32px;}
    
    article ul li p{margin-top:16px;}
    
    section {
        float:none;
        clear:both;
        width:95%;
        margin:0;
    }
    
    aside {
        float:none;
        clear:both;
        width:95%;
        margin:0 auto 0 auto;
    }
    
    aside img {
        width:95%;
        margin:10px auto 0 auto;
    }
    
    #intro {width: 100%;}
    
    #me {width:95%;}
    
    #alligator {display:none;}
}